@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400&display=swap');

/* COLORS */
$bg: #111111;
$gray: rgba(255, 255, 255, 0.15);
$darkgray: rgba(255, 255, 255, 0.05);
$white: #FFFFFF;

/* FONTS */
$font1: 'Poppins', sans-serif;